<div class="header">{{ title }} app is running!</div>
<div class="main-content">
   <form>

      <div class="min-width: 200px">

        <div *ngIf="planetsAll && (planetsAll | async) as planets">

        <mat-label class="label">Planets selector: </mat-label>
          
        <mat-form-field appearance="fill">
          <mat-select formControl="planetsFormControl" [placeholder]="'Choose'" panelClass="testClass" [(value)]="selectedPlanet.index">
            <mat-option *ngFor="let planet of planets; let i = index" [value]="i">{{planet.name}}</mat-option>
        </mat-select>
      </mat-form-field>


      
        <div  *ngIf="planets.length > 0" class="tableWrapper">


        <table mat-table [dataSource]="filteredProperties(planets[ selectedPlanet.index ] | keyvalue)" class="mat-elevation-z8 demo-table">

          <!-- Position Column -->

        
          <!-- Display Column -->
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedHeaderRowDefs">
            <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
            <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
          </ng-container>
        
          <tr mat-row *matRowDef="let row; columns: ['key' , 'value' ];" (click)="onRowClicked(planets[selectedPlanet.index])"></tr>
        </table>

        </div>

    </div>
  </div>
  
  </form>
  <!-- <router-outlet></router-outlet> -->

</div>